# Client Files.
/INIT/sinfo.dat
Errores.log
Screenshots/*
Codigo/*.log
*.vbw
*.oca
*.csi
*.lvw
*.OBJ
INIT/Inicio.con
INIT/sinfo.dat
INIT/Config.ini
INIT/AO.dat
INIT/messages.txt
Argentum.exe
RevolucionAO.exe

# System Files.
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

.DS_Store
.Trashes
*.exp
*.lib
*.dca
*.scc
*.tmp
*.bak